@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Reset */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis */
:root { 
    --laranja: #D6552E;
    --amarelo1: #F0E943;
    --amarelo2: #EBCB05;
    --azul: #316EB6;
    --azul-dark1: #1E436E;
    --azul-dark2: #163354;
    --vermelho: #D33F59;
    --preta: #141414;
}

body {
    background: var(--amarelo2);
    font-family: 'Source Code Pro', monospace;
    color: #FFF;
}

/* Menu */
header .container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: var(--laranja);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 10px 0 var(--preta);
}

header .logo {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 50px;
    width: 11rem;
}

header nav {
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Source Code Pro', monospace;
    margin-right: 20px;
}

header nav a:hover {
    color: #FFF;
}

header nav a strong {
    color: var(--azul-dark1);
}

.portal-btn {
    font-family: 'Source Code Pro', monospace;
    width: 50%;
    padding: 6px;
    border: 2px solid var(--azul-dark2);
    border-radius: 5px;
    background-color: var(--azul);
    box-shadow: -2px 4px 0 var(--azul-dark1), -3px 4px 0 var(--azul-dark2);
}

.portal-btn:active {
    box-shadow: inset -3px 3px 0 var(--azul-dark1);
    font-size: 0.96rem;
}

/* Conteúdo Principal */
main {
    font-size: 20px;
    padding: 50px;
    margin: 0 55px;
    min-height: 60vh;
}

main .container {
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
}

/* Conteúdo Principal - left*/
.searchpokemon-left {
    width: 48%;
    border-left: 1px solid #BAA204;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: -2px 4px 20px #FFFA6B, -3px 4px 20px #FFFA6B;
}

.searchpokemon-left h4 {
    text-align: center;
    margin: 20px 40px;
    margin-top: 8%;
}

.searchpokemon-left h4 .poke-text {
    color: var(--azul);
    font-weight: bold;
    font-size: 1.6rem;
    text-shadow: 0 4px 5px var(--laranja);
}

.searchpokemon-left form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.input-search {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    width: 90%;
    padding: 10px;
    text-align: center;
    outline: none;
    border: 2px solid var(--laranja);
    border-radius: 8px;
    box-shadow: -2px 5px 0 #F39D3B, -4px 5px 0 var(--laranja);
}

.btn-search {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    width: 90%;
    padding: 10px;
    margin-top: 30px;
    margin-left: 5%;
    border: 2px solid var(--azul);
    border-radius: 8px;
    background-color: #F39D3B;
    box-shadow: -2px 4px 0 var(--azul), -4px 4px 0 var(--azul-dark1);
    cursor: pointer;
}

.btn-search:hover {
    color: #FFF;
    background-color: var(--azul-dark2);
}

.btn-search:active {
    box-shadow: inset -3px 3px 0 var(--azul-dark1);
    font-size: 0.96rem;
}

/* Conteúdo Principal - right*/
.infopokemon-right {
    width: 48%;
    background-color: #234E80;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: -2px 4px 30px #FFFD9A, -3px 4px 30px #FFFD9A;
    transition: .3s ease all;
}

.infopokemon-right:hover {
    background-color: var(--azul);
}

.poke-visual {
    width: 100%;
    display: flex; 
}

.effect-img {
    width: 280px;
    height: 165px;
    background-color: var(--azul-dark2);
    margin: 0px auto;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    border-radius: 3px;
}

.background-img {
    display: block;
    margin: 0px auto;
    margin-top: 4px;
}

.poke-img {
    display: block;
    position: absolute;
    transform: translate(90%, 55%);
    height: 14%;
}

.poke-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.poke-title {
    justify-content: center;
    margin: auto;
}

.poke-id {
    color: #F39D3B;
}

.poke-name {
    text-transform: capitalize;
}

.poke-info hr {
    height: 10px;
    margin: 10px 0px;
    margin-bottom: 1%;
    background-color: var(--azul);
    border: none;
}

.poke-desc {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #F39D3B;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.desc-left, .desc-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 8%;
}

.poke-type, .poke-height, .poke-move{
    font-size: 15px;
    font-weight: 100;
    margin-left: 15%;
    color: #FFF;
}

.poke-type {
    margin-bottom: 1.5%;
}

/* Rodapé */
footer {
    min-height: 35vh;
    background-color: var(--laranja);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 10px 0 var(--preta);
    display: flex;
    flex-direction: column-reverse;
}

.footer-content {
    width: 100%;
    min-height: 40vh;
    padding: 0 35px;
    margin: 0 auto;
    position: absolute;
    display: flex;
    align-items: center;
}

.ash-img {
    width: 15rem;
}
